@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


body{
	height: 100%;
	background-image: url("pictures/neon_bubbles_2.jpg");
	background-size: contain;
}
.header {
	position: fixed;
	top: 0;	
	width: 100%;
}
.header a{
	text-decoration: none;
	}
.header img{
	width: 35px;
	position: fixed;
	top: 25px;
	left: 25px;
	display: none;
	cursor: pointer;
}
nav{
	display: none;
}
.nav li{
	margin-top: 0.7em;
	list-style: none;
	float: left;
	/*display: block;*/
	font-family: ubuntu;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0 1em;
}
.nav a{
	/*display: block;*/
	padding: 7px 10px;
	color: white;
}
.nav a:hover{
	background: white;
	color: black;

	border-radius: 2em;
	box-shadow: -2px 2px 10px white;
}
.title{
	position: fixed;
	display: block;
	right: 0;
	top: -7px;
	padding: 26px 48px;
	font-family: ubuntu;
	font-size: 2.5em;
	font-weight: bold;
	color: white;
}
.cross{
	display: none;
}
.text{
	text-align: center;
	margin-top: 30vh;
	/*padding: 35vh;*/
	font-family: lato;
	font-weight: 300;
	font-size: 5em;
	color: white;
	text-shadow: -3px 3px 6px white;

}
























.button-container-1 {
  position: relative;
  width: 150px;
  height: 50px;
  margin-left: auto;
  /*float: left;*/
  margin-right: auto;
  margin-top: 10vh;
  overflow: hidden;
  border: 1px solid;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  color: white;
  /*background: b/;*/
  letter-spacing: 2px;
  border-radius: 8px;
}
.button-container-1 button {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: bold;
  background: white;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: black;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;

}

.mas {
  position: absolute;
  color:white;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 15px;
  margin-top: 17px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}



@media all and (min-width: 945px) {
	nav {
		display: block;
	}
}
@media all and (max-width: 945px) {
	.nav {
		display: none;

	}
	.text{
		font-size: 3em;
	}
	#menuicon{
		display: block;
	}
	.nav {
		display: block;
		position: fixed;
		z-index: 9;
		background: black;
		height: 100vh;
		width: 50%;
		border-radius: 1em;
	}
	.cross{
		display: block;
		position: absolute;
		z-index: 999;
		top: 0.2em;
		left: 0.2em;
	}
	.nav li{
		padding: 1em;
		display: block;
		/*margin-right: 30%;*/
	}
}
@media all and (max-width: 470px){
	
	.button-container-1 button{
		font-size: 16px;
		color: black;
	}
	

	.mas{
		font-size: 12px;
		/*color: black;*/
	}
	.text{
		font-size: 2em;
	}



}
