:root{
	--primary_color: #ccf2ff;
	--second_color: #00c5ff;
}

body {
	background-image: linear-gradient(to bottom right ,#0782ed, #07b0ed,#23fa99,cyan,#0782ed, purple);
	margin: 0;

	font-family: monospace;
	
}



 .first_class .container .menu {	
		
		box-shadow: 4px 4px 12px gray;
		text-shadow: 5px 5px 30px blue;
		
		/*border-radius: 2em;*/
		text-decoration: none;
		color:  #0a044a;
		padding-top: 0;
		font-size: 40px;
		padding-left: 60px;
		font-family: serif;
		padding-bottom: 5px;
		background-image: linear-gradient(to bottom right ,cyan,#a3e4d7 , #a9cce3 , #d4e6f1);
}
.menu span{
	color: #4affe1 ;
}

.icon {
	cursor: pointer;

	}

.menu img {
	padding-top:8px;
	padding-right: 10px;
	opacity: 1;
}
.menu img:hover{
	opacity: 0.3;
}
.menu img:active {
	opacity: 1;
}
.home ,.galaxy1 , .galaxy2 , .galaxy3 {
	margin-left: 3em;
	/*margin-bottom: 1em;*/
	border-radius: 4em;
	box-shadow: 3px -1px 10px black;
	background-color: black;
	color:white;
	padding: 0.1em 0.5em;
	text-decoration: none;
	font-size: 20px;
	text-shadow: none;
}
.home:hover{
	background-color: white;
	box-shadow: 4px -2px 15px white;
	color: #061759;
}
.galaxy1:hover{
	background-color: white;
	box-shadow: 4px -2px 15px white;
	color: #061759;
}
.galaxy2:hover{
	background-color: white;
	box-shadow: 4px -2px 15px white;
	color: #061759;
}
.galaxy3:hover{
	background-color: white;
	box-shadow: 4px -2px 15px white;
	color: #061759;
}

@keyframes color_change{
	0% {color: brown;}
	25%{color:#eb0982;
	}
	50%{color: black;}
	75%{color: #7609eb;}
	100%{color:green;}
}
.first_class .intro{
	animation:color_change 20s infinite;
	text-align : center;
	margin-top: 2em;
	font-size: 4.5em;
	font-weight: lighter;	
	color:  #8f00ff ;
	text-shadow: 5px 5px 8px; 
	
}

ul {
	list-style-type: none;

}

.ghost {
	text-align:center;
	color: cyan;
}

.ghost h1 {
	color: blue;
}


@keyframes animation_a {
  0%   {background-color:black; left:0px; top:0px;}
  15%  {background-color: #2f056e }
  25%  {background-color: darkblue}		  
  55%  {background-color:var(--primary_color); left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:var(--second_color); left:0px; top:200px;}
  100% {background-color:#35304a; left:0px; top:0px;}
}

.sub_para {
	background-color: gray;
	
	padding: 0.4em 1em;
	color: white;
	margin:6em 25em;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	border-color: white;
	border-style: double solid;
	border-top-right-radius: 0em;
	border-bottom-left-radius: 0em;
	border-top-left-radius: 1.5em;
	border-bottom-right-radius: 1.5em;	
	cursor: pointer;
	animation: animation_a 7s infinite ;	
	box-shadow: 7px 7px 20px  #5dade2 ;
}

.sub_para:hover {

	animation-play-state: paused;

}

.subdiv_container h1{
	text-align: left;
	margin-left: 4em;
	background-image: linear-gradient(to right , red , pink);
	margin-right: 22em;
	padding-left: 1em;
	color: black;
	font-family: cursive;
	font-size: 40px;
	border-radius: 2em;
	text-shadow: -2px -2px 4px black;
	box-shadow: 4px 4px 20px black; 

}
.subdiv_container h1:hover {
	background-image: linear-gradient(to right ,pink ,red);
}
.watch {
	margin: -6.5em 20em 3em 70em ;
	padding:1em 0;
	border-radius: 3em;
	background-image: linear-gradient(to left ,darkblue,white);
	text-shadow: -2px -2px 4px black;
	font-weight: bold;
	box-shadow: 3px 3px 20px black;
}
.watch_video {

	font-size: 25px;
	text-decoration: none;
	color:black;
}
.watch:hover {
	background-image: linear-gradient(to left ,white,darkblue)
}
.reviews li{
	background-image: linear-gradient(to bottom left ,black,gray ,white);	
	text-align: center;
	padding: 1em 0;
	margin: 8em 6em;
	border-radius: 2em;
	font-family: cursive;
	font-size: 30px;
	font-weight: bold;
	color:white;
}
.reviews img{
	width: 18%;
	margin-top: -6em;
	border-radius: 50%;
	border:5px solid #2a2840;
	
}

.contact_left h2 {
	text-align: center;

}
.last {
	text-align:center;
}
.email {
	background-color: black;
	color: white;
	text-shadow: 1px 1px 5px white;
	box-shadow: -2px -2px 10px black;
	border-radius: 5px;
	display: block;
	margin: 0 32em 0 32em;
	padding: 0.4em;
	font-size: 20px;

}
.email_i {
	background-color: white;
	color: black;
	text-shadow: 1px 1px 5px blue;
	border:none;
	border-radius: 10px;
	margin: 0.4em 0 0 27em;
	padding: 0.4em;
	text-align: center;
	font-size: 20px;

}
.email:hover {
	box-shadow: 2px 2px 10px white;
}
.email_i:hover {
	box-shadow: -3px -3px 10px black;
	background-color: black;
	color : cyan;
}
.username ,.password {
	background-color: black;
	color: white;
	text-shadow: 1px 1px 5px white;
	box-shadow: -2px -2px 10px black;
	border-radius: 5px;
	display: block;
	margin: 2em 30.7em 0 31.2em;
	padding: 0.4em;
	font-size: 20px;
}
.username_i , .password_i {
	background-color: white;
	color: black;
	text-shadow: 1px 1px 5px blue;
	border:none;
	border-radius: 10px;
	margin: 0.4em 0 0 27em;
	padding: 0.4em;
	text-align: center;
	font-size: 20px;

}
.username:hover {
	box-shadow: 2px 2px 10px white;
}
.username_i:hover {
	box-shadow: -3px -3px 10px black;
	background-color: black;
	color : cyan;
}
.password:hover {
	box-shadow: 2px 2px 10px white;
}
.password_i:hover {
	box-shadow: -3px -3px 10px black;
	background-color: black;
	color : cyan;
}
.reviews_end {
	background-color: black;
	color: white;
	text-shadow: 1px 1px 5px white;
	box-shadow: -2px -2px 10px black;
	border-radius: 5px;
	display: block;
	margin: 15em 42em 0 20em;
	padding: 0.4em;
	font-size: 20px;

}

.textarea {
	background-color: white;
	color: black;
	text-shadow: 1px 1px 5px blue;
	border:none;
	border-radius: 10px;
	margin: -8em 40em 0 35em;
	padding: 0.4em;
	text-align: center;
	font-size: 20px;

}
.textarea:hover {
	box-shadow: -3px -3px 10px black;
	background-color: black;
	color : cyan;
}

.end_button {
	background-color: black;
	color: cyan;
	box-shadow: 2px 2px 10px black;
	text-shadow: 1px 1px 5px blue;
	border:none;
	border-radius: 10px;
	margin: 10em 0 0 30em;
	padding: 0.4em 2em;
	text-align: center;
	font-size: 20px;
}

.end_button:hover{
	cursor: pointer;
	box-shadow: -3px 3px 15px white;
}
}
/* to do 
  how to make text thin 

  make universe is full line - animated typed text
 
  
